.products {
    margin-top: 50px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.product-0 {
    border: 1px solid #222222;
    background: aliceblue;
    padding: 20px;
    flex: 1 0 20%;
    

}

.product-1 {
    border: 1px solid #222222;
    background: aliceblue;
    padding: 20px;
    flex: 1 0 20%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .products {
        flex-direction: column;
    }

}