.info{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-basis: 10%;
    flex-direction: row;
}
.main {
    /* border:1px solid #222222;*/
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
}
.main h2 {
    /*border:1px solid #222222;*/
    text-align: left;
    margin: .3rem;
}
.smallText{
    color: gray;
    text-align: left;
    font-size: .75rem;
    margin: 0.3rem;
}
.products {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}
.product-0 {
    border: 1px solid #222;
    background: ghostwhite;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-0:hover{
    background-color: lightblue;
    color: lightcyan;
}

.product-1 {
    border: 1px solid #222;
    background: white;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-1:hover{
    background-color: lightblue;
    color: lightcyan;

}
.red{
    color: firebrick;
    text-decoration: line-through;
    font-style: normal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .info{
        justify-content: space-around;
        align-content: center;
        flex-basis: 30%;
    }
    .products {
        flex-direction: column;
    }
    .main {
        flex-basis: 80%;
        padding-left: 0rem;
        align-self: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .smallText{
        color: gray;
        text-align: center;
        font-size: .75rem;
    }

    .product-0 {
        flex-direction: row;
        height: auto;
        justify-content: space-around;
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
    }

    .product-1 {
        flex-direction: row;
        height: auto;
        justify-content: space-around;
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
    }
    .product-0 h2 {
        text-align: center;
    }

    .product-1 h2 {
        text-align: center;
    }
}