.smallText{
    color: gray;
    text-align: left;
    font-size: .75rem;
    margin: 0.3rem;
}


.products {
    margin-top: 50px;
    padding: 2rem;
}
.product-0 {
    border: 1px solid #222;
    background: ghostwhite;
}
.product-0:hover{
    background-color: lightblue;
    color: lightcyan;
}
.product-0 h2 {
    /*border:1px solid #222222;*/
    text-align: left;
    margin: .3rem;
}
.product-0 button {
    /*border:1px solid #222222;*/
    height: 100%;
    width: 50%;
    /*margin: .3rem;*/
}

.product-1 {
    border: 1px solid #222;
    background: white;
}
.product-1:hover{
    background-color: lightblue;
    color: lightcyan;

}
.product-1 h2 {
    /*border:1px solid #222222;*/
    text-align: left;
    margin: .3rem;
}
.product-1 button {
    /*border:1px solid #222222;*/
    height: 100%;
    width: 50%;
    /*margin: .3rem;*/
}

.red{
    color: firebrick;
    text-decoration: line-through;
    font-style: normal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .info{
        justify-content: space-around;
        align-content: center;

    }

    .main {
        padding-left: 0rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .smallText{
        color: gray;
        text-align: center;
        font-size: .75rem;
    }

    .product-0 {
        height: auto;
        justify-content: space-around;
        padding: 1em;
    }

    .product-1 {
        height: auto;
        justify-content: space-around;
        padding: 1em;
    }
    .product-0 h2 {
        text-align: center;
    }

    .product-1 h2 {
        text-align: center;
    }
    .product-0 button {
        /*border:1px solid #222222;*/
        height: 100%;
        width: 40%;
        /*margin: .3rem;*/
    }
    .product-1 button {
        /*border:1px solid #222222;*/
        height: 100%;
        width: 40%;
        /*margin: .3rem;*/
    }
}